@model IEnumerable<AdminPluginViewModel>
@{
Layout = "_Layout";
ViewData.SetActivePage(AdminNavPages.Plugins, "Plugins");
}

<div class="d-sm-flex align-items-center justify-content-between">
    <h2 class="mb-0">
        @ViewData["Title"]
    </h2>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Project Slug</th>
            <th>Version</th>
            <th>Build ID</th>
            <th>BTCPay Min Version</th>
            <th>Pre-Release</th>
            <th>Updated At</th>
            <th>Publisher Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plugin in Model)
        {
            <tr>
                <td>@plugin.ProjectSlug</td>
                <td>@plugin.Version</td>
                <td>@plugin.BuildId</td>
                <td>@plugin.BtccpayMinVer</td>
                <td>@plugin.PreRelease</td>
                <td>@plugin.UpdatedAt</td>
                <td>@plugin.PublisherEmail</td>
            </tr>
        }
    </tbody>
</table>
