@model AdminPluginSettingViewModel
@{
    Layout = "_Layout";
    ViewData.SetActivePage(AdminNavPages.Plugins, "Plugins");
}

<div class="d-flex flex-column flex-md-row align-items-center justify-content-between mb-4">
    <h2 class="mb-3 mb-md-0">@ViewData["Title"]</h2>

    <div class="d-flex flex-column flex-sm-row align-items-center gap-3">

        <div class="d-flex align-items-center">
            <form asp-controller="Admin" asp-action="UpdateVerifiedEmailRequirement" method="post" class="d-flex align-items-center">
                <input type="checkbox" class="btcpay-toggle me-2" id="featureToggle" asp-for="@Model.VerifiedEmailForPluginPublish"
                       onchange="this.form.submit()" />
                <label class="form-check-label text-wrap" for="featureToggle">
                    Require Verified Email for publishing
                </label>
            </form>
        </div>

        @if (Model.Plugins.Where(m => !m.PreRelease && !string.IsNullOrEmpty(m.Version)).Any())
        {
            <a asp-controller="Admin" asp-action="EmailSender"
               asp-route-to="@string.Join(",", Model.Plugins.Where(m => !m.PreRelease && !string.IsNullOrEmpty(m.Version)).Select(m => m.PublisherEmail))"
               class="btn btn-primary">
                Email Publishers
            </a>
        }
    </div>
</div>


<form class="d-flex flex-wrap flex-sm-nowrap align-items-center gap-3 mb-4 col-xxl-8" asp-action="ListPlugins" method="get">
    <input asp-for="Count" type="hidden" />
    <input asp-for="SearchText" class="form-control" placeholder="Search…" />

	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			@(Model.Status ?? "All Status")
		</button>
		<div class="dropdown-menu" aria-labelledby="StatusOptionsToggle">
			<a class="dropdown-item" asp-action="ListPlugins" asp-route-status="">All Status</a>
			<a class="dropdown-item" asp-action="ListPlugins" asp-route-status="unlisted">Unlisted</a>
			<a class="dropdown-item" asp-action="ListPlugins" asp-route-status="listed">Listed</a>
			<a class="dropdown-item" asp-action="ListPlugins" asp-route-status="hidden">Hidden</a>
		</div>
	</div>
</form>


@if (Model.Plugins.Any())
{
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Project Slug</th>
                <th>Version</th>
                <th>Build ID</th>
                <th>BTCPay Min Version</th>
                <th>Pre-Release</th>
                <th>Updated At</th>
                <th>Publisher Email</th>
                <th>Visibility</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var plugin in Model.Plugins)
            {
                <tr>
                    <td>@plugin.ProjectSlug
						@if (!string.IsNullOrEmpty(@plugin.Version) && plugin.BuildId.HasValue)
						{
							<a id="PublicPluginPage" asp-controller="Home" asp-action="GetPluginDetails" asp-route-pluginSlug="@plugin.ProjectSlug">
								<span class="fa fa-globe"></span>
							</a>
						}
                    </td>
                    <td>@plugin.Version</td>
                    <td>@plugin.BuildId</td>
                    <td>@plugin.BtcPayMinVer</td>
                    <td>@plugin.PreRelease</td>
                    <td>@plugin.UpdatedAt</td>
                    <td>@plugin.PublisherEmail</td>
                    <td>@plugin.Visibility</td>
                    <td>
                        <a asp-controller="Admin" asp-action="PluginEdit" asp-route-slug="@plugin.ProjectSlug">Edit</a> |
                        <a asp-controller="Admin" asp-action="PluginDelete" asp-route-slug="@plugin.ProjectSlug">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <vc:pager view-model="Model" />
    </div>
}
else
{
    <p class="text-secondary mt-3">There are no plugins matching your criteria.</p>
}

<script src="~/scripts/searchtext.js" asp-append-version="true"></script>
