@using PluginBuilder.DataModels
@model PluginEditViewModel
@{
    Layout = "_Layout";
    ViewData.SetActivePage(AdminNavPages.Plugins, "Edit Plugin");
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h2 class="mb-0">
        @ViewData["Title"] - @Model.Slug
    </h2>
</div>


<div class="row">
	@if (!String.IsNullOrEmpty(@Model.Identifier))
	{
		<div class="mb-4">
			<span class="fw-semibold fs-5">Identifier:</span> <span>@Model.Identifier</span>
		</div>
	}
	@if (Model.PluginUsers?.Any() == true)
	{
		<div class="container my-4">
			<h6>Plugin Users</h6>
			<div class="col-md-8 col-lg-6">
				@foreach (var user in Model.PluginUsers)
				{
					<div class="d-flex justify-content-between align-items-center">
						<div>
							<strong>Email:</strong> @user.Email
							@if (user.IsPluginOwner)
							{
								<span class="badge bg-success me-2">Owner</span>
							}
						</div>
                        <div class="text-end">
                            <form method="post"
                                  asp-controller="Admin"
                                  asp-action="ManagePluginOwnership"
                                  asp-route-pluginSlug="@Model.Slug"
                                  asp-route-userId="@user.UserId"
                                  asp-route-command="@(user.IsPluginOwner ? "RevokeOwnership" : "AssignOwnership")"
                                  class="d-inline">
                                @Html.AntiForgeryToken()
                                <button type="submit"
                                        class="btn btn-sm me-2 mb-2 @(user.IsPluginOwner ? "btn-outline-danger" : "btn-outline-primary")">
                                    @(user.IsPluginOwner ? "Revoke Ownership" : "Set as Owner")
                                </button>
                            </form>
                        </div>
                    </div>
				}
			</div>
		</div>
	}

	<div class="col-md-8 col-lg-6">
		<form asp-action="PluginEdit">
			<div class="mb-3">
				<label asp-for="Settings" class="form-label"></label>
				<textarea asp-for="Settings" class="form-control" rows="5"></textarea>
				<span asp-validation-for="Settings" class="text-danger"></span>
			</div>

			<div class="mb-3">
				<label asp-for="Visibility" class="form-label"></label>
				<select asp-for="Visibility" class="form-select" asp-items="Html.GetEnumSelectList<PluginVisibilityEnum>()"></select>
				<span asp-validation-for="Visibility" class="text-danger"></span>
			</div>

			<div class="form-group">
				<input type="submit" class="btn btn-primary" id="Save" value="Save" />
				<a href="javascript:history.back()" class="btn btn-outline-secondary">Cancel</a>
			</div>
		</form>
	</div>

</div>
