@model IEnumerable<AdminUsersViewModel>
@{
    Layout = "_Layout";
    ViewData.SetActivePage(AdminNavPages.Users, "Users");
}

<div class="d-sm-flex align-items-center justify-content-between">
    <h2 class="mb-0">
        @ViewData["Title"]
    </h2>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Email</th>
            <th>Username</th>
            <th>Email Confirmed</th>
            <th>Roles</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>@user.EmailConfirmed</td>
                <td>
                    <a asp-action="EditRoles" asp-route-userId="@user.Id">
                        @(user.Roles.Any() ? string.Join(", ", user.Roles) : "No Roles")
                    </a>
                </td>
                <td></td>
            </tr>
        }
        </tbody>
    </table>
</div>
