@model AccountKeySettingsViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Account Key Settings";
}


<h2 class="mt-1 mb-4">@ViewData["Title"]</h2>

<div class="row mt-3">
    <div class="col-xl-8 col-xxl-constrain">
        <form id="generateKeysForm" asp-action="GenerateAccountKeys" method="post">
            <div class="form-group">
                <button type="submit" class="btn btn-secondary">Generate Keys</button>
            </div>
        </form>

        @if (!string.IsNullOrEmpty(Model.PublicKey) && !string.IsNullOrEmpty(Model.PrivateKey))
        {
            <div class="card mt-4">
                <div class="card-header">
                    <h5 class="mb-0">Public Key</h5>
                </div>
                <div class="card-body">
                    <textarea asp-for="PublicKey" id="PublicKey" class="form-control" rows="10" readonly>@Model.PublicKey</textarea>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-header">
                    <h5 class="mb-0">Private Key</h5>
                </div>
                <div class="card-body">
                    <textarea asp-for="PrivateKey" id="PrivateKey" class="form-control" rows="10" readonly>@Model.PrivateKey</textarea>
                </div>
            </div>

            <form id="downloadKeysForm" asp-action="DownloadKeys" method="post" class="mt-4">
                <input type="hidden" name="PublicKey" value="@Model.PublicKey" />
                <input type="hidden" name="PrivateKey" value="@Model.PrivateKey" />
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Download Keys</button>
                </div>
            </form>
        }
    </div>
</div>
