@using PluginBuilder.APIModels
@model PublishedVersion
@{
    Layout = "_Layout";
    ViewData.SetActivePage($"Plugin - {Model.ProjectSlug}");
}

<div class="d-sm-flex align-items-center justify-content-between">
    <div class="d-sm-flex align-items-center">
        <h2 class="mb-0">
            @ViewData["Title"]
        </h2>
    </div>
    <div class="d-flex gap-3 mt-3 mt-sm-0">
        <a asp-controller="Account" asp-action="ListPlugins" class="btn btn-outline-info">Back</a>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pgpKeyModal-approve">Approve</button>

        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#pgpKeyModal-reject">Reject</button>

        <a href="@((string)Model.BuildInfo["url"])" rel="noreferrer noopener" class="btn btn-outline-info">Download</a>
    </div>
</div>

<table class="table mt-6">
    <tr class="mb-4">
        <th class="fw-semibold w-100px">Name</th>
        <td class="ps-3">
            <span>@((string)Model.ManifestInfo["Name"])</span>
        </td>
    </tr>
    <tr class="mb-4">
        <th class="fw-semibold w-100px">Description</th>
        <td class="ps-3">
            <span>@((string)Model.ManifestInfo["Description"])</span>
        </td>
    </tr>
    <tr class="mb-4">
        <th class="fw-semibold w-100px">Version</th>
        <td class="ps-3">
            <span>@((string)Model.ManifestInfo["Version"])</span>
        </td>
    </tr>
    <tr class="mb-4">
        <th class="fw-semibold w-100px">Project Repository</th>
        <td class="ps-3">
            <a href="@((string)Model.BuildInfo["gitRepository"])" target="_blank" rel="noopener noreferrer">
                @((string)Model.BuildInfo["gitRepository"])
            </a>
        </td>
    </tr>
    <tr class="mb-4">
        <th class="fw-semibold w-100px">Plugin Directory</th>
        <td class="ps-3">
            <span>@((string)Model.BuildInfo["pluginDir"])</span>
        </td>
    </tr>
    <tr class="mb-4">
        <th class="fw-semibold w-100px">Git Ref</th>
        <td class="ps-3">
            <span>@((string)Model.BuildInfo["gitRef"])</span>
        </td>
    </tr>
    <tr class="mb-4">
        <th class="fw-semibold w-100px">Build Configuration</th>
        <td class="ps-3">
            <span>@((string)Model.BuildInfo["buildConfig"])</span>
        </td>
    </tr>
    <tr class="mb-4">
        <th class="fw-semibold w-100px">Documentation</th>
        <td class="ps-3">
            <a href="@Model.Documentation" target="_blank" rel="noopener noreferrer">
                @Model.Documentation
            </a>
        </td>
    </tr>
    <tr class="mb-4">
        <th class="fw-semibold w-100px">Dependencies</th>
        <td class="ps-3">
            @foreach (var dependency in Model.ManifestInfo["Dependencies"])
            {
                <div>
                    <span>@((string)dependency["Identifier"]) @((string)dependency["Condition"])</span>
                </div>
            }
        </td>
    </tr>
</table>


<div class="modal fade" id="pgpKeyModal-approve" tabindex="-1" aria-labelledby="pgpKeyModalLabel-approve" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="PluginApprovalStatus" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="pgpKeyModalLabel-approve">Enter Your PGP Public Key to Approve</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="action" value="approve" />
                    <input type="hidden" name="PluginSlug" value="@Model.ProjectSlug" />
                    <div class="form-group">
                        <label for="pgpKey-approve">PGP Public Key</label>
                        <textarea id="pgpKey-approve" name="PublicKey" class="form-control" rows="5" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Approve</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="pgpKeyModal-reject" tabindex="-1" aria-labelledby="pgpKeyModalLabel-reject" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="PluginApprovalStatus" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="pgpKeyModalLabel-reject">Enter Your PGP Public Key to Reject</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="action" value="reject" />
                    <input type="hidden" name="PluginSlug" value="@Model.ProjectSlug" />
                    <div class="form-group mt-3">
                        <label for="rejectionReason">Rejection Reason</label>
                        <textarea id="rejectionReason" name="RejectionReason" class="form-control" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="pgpKey-reject">PGP Public Key</label>
                        <textarea id="pgpKey-reject" name="PublicKey" class="form-control" rows="5" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Reject</button>
                </div>
            </form>
        </div>
    </div>
</div>
