@using PluginBuilder.APIModels
@model PublishedVersion
@{
    Layout = "_Layout";
    ViewData.SetActivePage($"Plugin - {Model.ProjectSlug}");
}

<div class="d-sm-flex align-items-center justify-content-between">
    <div class="d-sm-flex align-items-center">
        <h2 class="mb-0">
            @ViewData["Title"]
        </h2>
    </div>
    <div class="d-flex gap-3 mt-3 mt-sm-0">
        <a asp-controller="Account" asp-action="ListPlugins" class="btn btn-outline-info">Back</a>

        <form asp-action="Release" method="post">
            <button type="submit" name="command" value="release" class="btn btn-primary">Approve</button>
        </form>

        <form asp-action="Release" method="post">
            <button type="submit" name="command" value="unrelease" class="btn btn-outline-danger">Reject</button>
        </form>

        <a href="@((string)Model.BuildInfo["url"])" rel="noreferrer noopener" class="btn btn-outline-info">Download</a>
    </div>
</div>

<table class="table mt-6">
    <tr class="mb-4">
        <th class="fw-semibold w-100px">Name</th>
        <td class="ps-3">
            <span>@((string)Model.ManifestInfo["Name"])</span>
        </td>
    </tr>
    <tr class="mb-4">
        <th class="fw-semibold w-100px">Description</th>
        <td class="ps-3">
            <span>@((string)Model.ManifestInfo["Description"])</span>
        </td>
    </tr>
    <tr class="mb-4">
        <th class="fw-semibold w-100px">Version</th>
        <td class="ps-3">
            <span>@((string)Model.ManifestInfo["Version"])</span>
        </td>
    </tr>
    <tr class="mb-4">
        <th class="fw-semibold w-100px">Project Repository</th>
        <td class="ps-3">
            <a href="@((string)Model.BuildInfo["gitRepository"])" target="_blank" rel="noopener noreferrer">
                @((string)Model.BuildInfo["gitRepository"])
            </a>
        </td>
    </tr>
    <tr class="mb-4">
        <th class="fw-semibold w-100px">Plugin Directory</th>
        <td class="ps-3">
            <span>@((string)Model.BuildInfo["pluginDir"])</span>
        </td>
    </tr>
    <tr class="mb-4">
        <th class="fw-semibold w-100px">Git Ref</th>
        <td class="ps-3">
            <span>@((string)Model.BuildInfo["gitRef"])</span>
        </td>
    </tr>
    <tr class="mb-4">
        <th class="fw-semibold w-100px">Build Configuration</th>
        <td class="ps-3">
            <span>@((string)Model.BuildInfo["buildConfig"])</span>
        </td>
    </tr>
    <tr class="mb-4">
        <th class="fw-semibold w-100px">Documentation</th>
        <td class="ps-3">
            <a href="@Model.Documentation" target="_blank" rel="noopener noreferrer">
                @Model.Documentation
            </a>
        </td>
    </tr>
    <tr class="mb-4">
        <th class="fw-semibold w-100px">Dependencies</th>
        <td class="ps-3">
            @foreach (var dependency in Model.ManifestInfo["Dependencies"])
            {
                <div>
                    <span>@((string)dependency["Identifier"]) @((string)dependency["Condition"])</span>
                </div>
            }
        </td>
    </tr>
</table>
