@model PluginOwnersTableViewModel

@if (Model.Owners.Any())
{
    <div class="row">
        <div class="col-xxl-constrain col-xl-8">
            @if (Model.CanAddOwner)
            {
                <form class="d-flex flex-wrap align-items-center gap-3"
                      asp-controller="@Model.Controller"
                      asp-action="AddOwner"
                      asp-route-pluginSlug="@Model.PluginSlug"
                      method="post">
                    @Html.AntiForgeryToken()

                    <input type="email" name="email" class="form-control" placeholder="user@example.com" style="flex: 1 1 14rem" required />
                    <button type="submit" class="btn btn-primary text-nowrap flex-grow-1 flex-sm-grow-0" id="AddUser">
                        Add Owner
                    </button>
                </form>
            }

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col" class="text-end text-nowrap">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var o in Model.Owners)
                    {
                        <tr>
                            <td class="align-middle">
                                @(!string.IsNullOrEmpty(o.Email) ? o.Email : o.UserId)
                                @if (o.IsPrimary)
                                {
                                    <span class="badge bg-warning text-dark ms-2">Primary Owner</span>
                                }
                            </td>
                            <td class="text-end text-nowrap align-middle">
                                @if (Model.CanManageOwners && !o.IsPrimary)
                                {
                                    <button type="button"
                                            class="btn btn-link p-0 text-success"
                                            data-bs-toggle="modal"
                                            data-bs-target="#ConfirmModal"
                                            data-action='@Url.EnsureLocal(
                                                Url.Action("TransferPrimaryOwner", Model.Controller, new { pluginSlug = Model.PluginSlug, userId = o.UserId }),
                                                Context.Request
                                            )'
                                            data-title="Transfer primary owner"
                                            data-description="Transfer primary ownership to @o.Email? This action is irreversible."
                                            data-confirm="Confirm">
                                        Transfer Primary
                                    </button>

                                    <span class="mx-2">|</span>

                                    <button type="button"
                                            class="btn btn-link p-0 text-danger"
                                            data-bs-toggle="modal"
                                            data-bs-target="#ConfirmModal"
                                            data-action='@Url.EnsureLocal(
                                                Url.Action("RemoveOwner", Model.Controller, new { pluginSlug = Model.PluginSlug, userId = o.UserId }),
                                                Context.Request
                                            )'
                                            data-title="Remove owner"
                                            data-description='Remove <strong>@o.Email</strong> from owners?'
                                            data-description-html="true"
                                            data-confirm="Remove">
                                        Remove
                                    </button>
                                }

                                @if (Model.CanLeave && o.UserId == Model.CurrentUserId && !o.IsPrimary)
                                {
                                    <button type="button"
                                            class="btn btn-link p-0 text-danger"
                                            data-bs-toggle="modal"
                                            data-bs-target="#ConfirmModal"
                                            data-action='@Url.EnsureLocal(
                                                Url.Action("RemoveOwner", Model.Controller, new { pluginSlug = Model.PluginSlug, userId = Model.CurrentUserId }),
                                                Context.Request
                                            )'
                                            data-title="Leave plugin"
                                            data-description="Leave ownership of this plugin?"
                                            data-confirm="Leave">
                                        Leave
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <p class="text-secondary mt-3">There are no owners yet.</p>
}
