@model BuildViewModel
@{
	Layout = "_Layout";
	ViewData.SetActivePage(PluginNavPages.Dashboard, $"Build {Model.FullBuildId.BuildId}", Model.FullBuildId.ToString());
}

<div class="d-sm-flex align-items-center justify-content-between">
	<div class="d-sm-flex align-items-center">
		<h2 class="mb-0">
			@ViewData["Title"]
		</h2>
	</div>
	<div class="d-flex gap-3 mt-3 mt-sm-0">
		@if (Model.Version?.PreRelease is true)
		{
			<form asp-action="Release" asp-route-pluginSlug="@Context.GetRouteValue("pluginSlug")" asp-route-version="@Model.Version.Version" method="post">
				<button type="submit" class="btn btn-primary mt-3 mt-sm-0">Release</button>
			</form>
		}
		@if (Model.DownloadLink != null)
		{
			<a href="@Model.DownloadLink" rel="noreferrer noopener" class="btn btn-info mt-3 mt-sm-0">Download</a>
		}
	</div>
</div>

<table class="table">
    @if (Model.Version != null)
    {
        <tr>
            <th class="fw-semibold w-100px">Version</th>
            <td>
                <vc:plugin-version model="@Model.Version"></vc:plugin-version>
            </td>
        </tr>
    }
    <tr>
    	<th class="fw-semibold">Git version</th>
    	<td>
    		@Model.GitRef @@
            @if (Model.RepositoryLink is null)
            {
                <span>@Model.Commit</span>
            }
            else
            {
                <a href="@Model.RepositoryLink" target="_blank" rel="noreferrer noopener">@Model.Commit</a>
            }
    	</td>
    </tr>
    <tr>
        <th class="fw-semibold">Created at</th>
        <td>
            @Model.CreatedDate
        </td>
    </tr>
</table>

<div>
	<ul class="nav nav-pills gap-4 mb-3" id="artifacts-tabs" role="tablist">
		<li class="nav-item">
			<button class="nav-link active" id="build-logs-tab" data-bs-toggle="pill" data-bs-target="#build-logs" type="button" role="tab" aria-controls="pills-build-info">Logs</button>
		</li>
		<li class="nav-item">
			<button class="nav-link" id="build-info-tab" data-bs-toggle="pill" data-bs-target="#build-info" type="button" role="tab" aria-controls="pills-build-info">Build info</button>
		</li>
		<li class="nav-item">
			<button class="nav-link" id="manifest-info-tab" data-bs-toggle="pill" data-bs-target="#manifest-info" type="button" role="tab" aria-controls="pills-manifest-info">Plugin manifest</button>
		</li>
	</ul>
	<div class="tab-content" id="pills-tabContent">
        <div class="tab-pane show active" id="build-logs" role="tabpanel" aria-labelledby="build-logs-tab">
            <pre><code class="text hljs" id="Logs">@(string.IsNullOrEmpty(Model.Logs) ? "No logs yet" : Model.Logs)</code></pre>
        </div>
		<div class="tab-pane" id="build-info" role="tabpanel" aria-labelledby="manifest-info-tab">
			<pre><code>@(string.IsNullOrEmpty(Model.BuildInfo) ? "No build info yet" : Model.BuildInfo)</code></pre>
		</div>
		<div class="tab-pane" id="manifest-info" role="tabpanel" aria-labelledby="build-info-tab">
			<pre><code>@(string.IsNullOrEmpty(Model.ManifestInfo) ? "No manifest info yet" : Model.ManifestInfo)</code></pre>
		</div>
	</div>
</div>

@section HeaderScripts {
	<link href="~/vendor/highlight.js/default.min.css" asp-append-version="true" rel="stylesheet" />
	<style>
		#artifacts-tabs .nav-link { background: none; padding: 0; font-weight: var(--btcpay-font-weight-semibold); font-size: 1.125rem; }
        #artifacts-tabs .nav-link.active { color: var(--btcpay-primary); }
	</style>
}

@section FooterScripts {
    <script src="~/vendor/highlight.js/highlight.min.js" asp-append-version="true"></script>
    <script src="~/vendor/signalr/signalr.min.js" asp-append-version="true"></script>
    <script src="~/scripts/Build.js" asp-append-version="true"></script>
}
