@model BuildListViewModel
@{
    Layout = "_Layout";
    ViewData.SetActivePage(PluginNavPages.Dashboard, "Builds");
    var pluginSlug = Context.GetRouteValue("pluginSlug")?.ToString();
}

@functions
{
	void ToBadge(string state, string error)
	{
		@if (state == "failed")
		{
			<span class="badge bg-danger" tooltip="@error">
				@state
				<small>
					<a href="#" class="ms-1" target="_blank" rel="noreferrer noopener">
						<span class="fa fa-question-circle-o" style="color: var(--btcpay-danger-text)" title="@error"></span>
					</a>
				</small>
			</span>
		}
		else if (state == "uploaded")
		{
			<span class="badge bg-success">@state</span>
		}
		else
		{
			<span class="badge bg-warning">@state</span>
		}
	}
}

<div class="d-sm-flex align-items-center justify-content-between">
    <h2 class="mb-0">
        @ViewData["Title"]
    </h2>
    @if (!string.IsNullOrEmpty(pluginSlug))
    {
        <a id="CreateNewBuild" asp-action="CreateBuild" asp-route-pluginSlug="@pluginSlug" class="btn btn-primary mt-3 mt-sm-0">
            <span class="fa fa-plus"></span>
            Create a new build
        </a>
    }
</div>

@if (Model.Builds.Any())
{
    <div class="table-responsive">
    	<table class="table table-hover">
            <thead>
            <tr>
                @if (pluginSlug is null)
                {
                    <th class="text-nowrap">Plugin</th>
                }
                    <th class="w-150px">Date</th>
    				<th class="text-nowrap">Build Id</th>
    				<th class="text-nowrap">Version</th>
    				<th class="text-nowrap">State</th>
    				<th class="text-nowrap">Repository</th>
    				<th class="text-nowrap">Git ref</th>
    				<th>Commit</th>
    				<th class="text-end">Actions</th>
    			</tr>
    		</thead>
    		<tbody>
    			@foreach (var item in Model.Builds)
                {
                    <tr id="plugin_@item.BuildId" class="invoice-row">
                        @if (pluginSlug is null)
                        {
                            <td>
                                <a asp-action="Dashboard" asp-controller="Plugin" asp-route-pluginSlug="@item.PluginSlug">@item.PluginIdentifier</a>
                            </td>
                        }
                        <td>@item.Date</td>
                        <td>@item.BuildId</td>
                        <td>
                            <vc:plugin-version model="@item.Version"></vc:plugin-version>
                        </td>
                        <td>
                            @{
                                ToBadge(item.State, item.Error);
                            }
                        </td>
                        <td><a href="@item.Repository" target="_blank" rel="noreferrer noopener">@item.Repository</a></td>
                        <td>@item.GitRef</td>
                        @if (item.RepositoryLink is null)
                        {
                            <td>@item.Commit</td>
                        }
                        else
                        {
                            <td><a href="@item.RepositoryLink" target="_blank" rel="noreferrer noopener">@item.Commit</a></td>
                        }
                        <td class="text-end text-nowrap">
                            @if (item.DownloadLink != null)
                            {
                                <a href="@item.DownloadLink" rel="noreferrer noopener">Download</a>
                                <span> - </span>
                            }
                            
                            <a asp-action="CreateBuild" asp-controller="Plugin" asp-route-pluginSlug="@(pluginSlug?? item.PluginSlug)" asp-route-copyBuild="@item.BuildId">Retry</a><span> - </span>
                            <a asp-action="Build" asp-controller="Plugin" asp-route-pluginSlug="@(pluginSlug?? item.PluginSlug)" asp-route-buildId="@item.BuildId">Details</a>
                        </td>
                    </tr>
    			}
    		</tbody>
    	</table>
    </div>
}
else
{
    <p class="text-secondary mt-3">
        There are no builds yet.
    </p>
}

@section FooterScripts {
<script src="~/vendor/signalr/signalr.min.js"></script>
<script src="~/scripts/Dashboard.js"></script>
}
