@using System.Globalization
@model RequestListingViewModel
@{
	Layout = "_Layout";
	ViewData.SetActivePage(PluginNavPages.Settings, "Plugin Listing Request");
	bool step1Completed = Model.Step != RequestListingViewModel.State.UpdatePluginSettings;
	bool step1Expanded = !step1Completed;

	bool step2Completed = Model.Step != RequestListingViewModel.State.UpdateOwnerAccountSettings && Model.Step != RequestListingViewModel.State.UpdatePluginSettings;
	bool step2Expanded = step1Completed && !step2Completed;

	bool step3Completed = Model.PendingListing;
	bool step3Expanded = step1Completed && step2Completed && !step3Completed;
}

<div class="d-flex align-items-center justify-content-between mb-4">
    <h2 class="mb-0">
        @ViewData["Title"]
    </h2>
    @if (!Model.PendingListing)
    {
        <div class="d-flex gap-3 mt-3 mt-sm-0">
            <button type="submit" form="request-listing-form" class="btn btn-success" @(Model.Step == RequestListingViewModel.State.Done ? "" : "disabled")>Submit</button>
        </div>
    }
    @if (Model.PendingListing && Model.CanSendEmailReminder)
    {
        <form asp-controller="Plugin" asp-action="SendReminder" asp-route-pluginSlug="@Model.PluginSlug" method="post" class="d-inline">
            <button type="submit" class="btn btn-success">Send Reminder</button>
        </form>
    }
</div>



<div class="accordion" id="pluginSettingsAccordion">
	<div class="accordion-item">
		<h3 class="accordion-header" id="headingPlugin">
			<button class="accordion-button @(step1Expanded ? "" : "collapsed")" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePlugin"
					aria-expanded="@step1Expanded" aria-controls="collapsePlugin">
				<h5>
					@if (step1Completed)
					{
						<vc:icon symbol="checkmark" />
					}
					else
					{
						<vc:icon symbol="cross" />
					}
					<span>Update Plugin Settings</span>
				</h5>
				<vc:icon symbol="caret-down" />
			</button>
		</h3>
		<div id="collapsePlugin" class="accordion-collapse collapse @(step1Expanded ? "show" : "")" aria-labelledby="headingPlugin" data-bs-parent="#pluginSettingsAccordion">
			<div class="accordion-body">
				<p>
					Your plugin must include Logo, Documentation URL, and Git Repository. Click
					<a asp-controller="Plugin" asp-action="Settings" asp-route-pluginSlug="@Model.PluginSlug" class="text-success text-decoration-none">this link</a>
					to go to your plugin settings to complete the process
				</p>
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h3 class="accordion-header" id="headingOwner">
			<button class="accordion-button @(step2Expanded ? "" : "collapsed")" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOwner"
					aria-expanded="@step2Expanded" aria-controls="collapseOwner">
				<h5>
					@if (step2Completed)
					{
						<vc:icon symbol="checkmark" />
					}
					else
					{
						<vc:icon symbol="cross" />
					}
					<span>Verify Social Accounts for Plugin Owners</span>
				</h5>
				<vc:icon symbol="caret-down" />
			</button>
		</h3>
		<div id="collapseOwner" class="accordion-collapse collapse @(step2Expanded ? "show" : "")" aria-labelledby="headingOwner" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<p>
					All plugin owners must verify Email, Nostr, and GitHub. Click
					<a asp-controller="Account" asp-action="AccountDetails" class="text-success text-decoration-none">this link</a> to verify your accounts.
					If you have other owners, kindly ask them to do the same.
				</p>
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h3 class="accordion-header" id="headingForm">
			<button class="accordion-button @(step3Expanded ? "" : "collapsed")" type="button" data-bs-toggle="collapse" data-bs-target="#collapseForm"
					aria-expanded="@step3Expanded" aria-controls="collapseForm">
				<h5>
					@if (step3Completed)
					{
						<vc:icon symbol="checkmark" />
					}
					else
					{
						<vc:icon symbol="cross" />
					}
					<span>Plugin Listing Form</span>
				</h5>
				<vc:icon symbol="caret-down" />
			</button>
		</h3>

		<div id="collapseForm" class="accordion-collapse collapse @(step3Expanded ? "show" : "")" aria-labelledby="headingForm" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<div class="col-xl-8 col-xxl-constrain">
					<form id="request-listing-form" asp-action="RequestListing" method="post" enctype="multipart/form-data">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="form-group">
							<label asp-for="ReleaseNote" class="form-label" data-required>Release Note <span class="text-muted">(max 200 characters)</span></label>
							<textarea asp-for="ReleaseNote" rows="2" maxlength="200" class="form-control" required></textarea>
							<span asp-validation-for="ReleaseNote" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="TelegramVerificationMessage" class="form-label" data-required></label>
							<input asp-for="TelegramVerificationMessage" class="form-control" required />
							<span asp-validation-for="TelegramVerificationMessage" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="UserReviews" class="form-label" data-required></label>
							<textarea asp-for="UserReviews" class="form-control" rows="4" required></textarea>
							<span asp-validation-for="UserReviews" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="AnnouncementDate" class="form-label">Announcement Date & Time (optional)</label>
							<input asp-for="AnnouncementDate" type="datetime-local" class="form-control" />
							<span asp-validation-for="AnnouncementDate" class="text-danger"></span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
